<div class="center">
	<div style="overflow: hidden">
		<h1 id=dotfiles>Dotfiles</h1>
		<p>
			My linux dotfiles, scripts and a list of installed packages. 
			I really hate when programs create configuration files in my home directory, so everything that can be in xdg base directorys are.
			<a href="https://github.com/theRealCarneiro">GitHub repository</a>
		</p>

		<mat-divider></mat-divider>

		<h2 id="features">Features</h2>
		<li>Configuration for various programs</li>
		<ul>
			<li>bspwm (window manager)</li>
			<li>sxhkd (hotkey daemon)</li>
			<li>Polybar (bar)</li>
			<li>Alacritty (terminal)</li>
			<li>Picom (X compositor)</li>
			<li>Neovim (terminal text editor)</li>
			<li>Vifm, lf (terminal file managers)</li>
			<li>sxiv (image viewer)</li>
			<li>zsh (shell)</li>
			<li>pywal (generate color configuration based on wallpaper or predifined theme)</li>
		</ul>
		<li>Shell Scripts </li>
		<ul>
			<li>setbg - Change background and pywal themes</li>
			<li>bluecon - Dmenu wrapper to connect bluetooth devices</li>
		</ul>
		<li>Polybar Scripts </li>
		<ul>
			<li>arch_updates - Show arch pacman and aur update count</li>
			<li>mailcheck - Show new mail count (mbsync)</li>
		</ul>
	<div>
<div>
